/*logo cart*/
   #cart {
    width: 3em;
    justify-content: right;
    color: black;
   }
/*cart*/
   .cart{
     color: white;
     font-weight: 700;
     font-size: 1.5em;
   }

   /*teddy img*/
   img{
    color:rgb(44, 41, 41);
    width: 40%;
	  border-radius:3px;
	  border:2px solid rgb(70, 64, 64);
    box-shadow:1px 1px 3px rgb(75, 71, 71);
   }

   /*articles*/
   article{
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(89, 84, 94);
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    text-align: center;
}

/*group*/
.form-group{
  width: 20%;
  margin:auto;
}

/*cart a total price*/
#basket, #prixTotal{
  font-size: 1.3em;
  font-family: 'Coming Soon', cursive;
  font-weight: bold; 
  padding: 5%;
}

p, label{
  font-size: 1.3em;
  font-family: 'Coming Soon', cursive;
  font-weight: bold; 
}

/*proceed to check out button*/
#valider{
  color: black;
  font-family: 'Coming Soon', cursive;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ffffff;   
  border-style: solid;   
  border-radius: 3px;
  border-width: 2px;   
  border-color:rgb(15, 182, 51);
  margin: 2%;
  padding: 1%;
  text-align: center;
}

/*main tag*/
main{
  text-align: center;
  width: 100%;
}

/*body tag*/
body{
  padding-bottom: 0px;
}


.totalQté, .panier, .nav-link{
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
}

.text-center, #teddy, #price, h4, .card-title, h2, h3{
  font-family: 'Permanent Marker', cursive;
}

.row{
  text-align: center;
}

#articleListe, article, .card{
  border-style: hidden;
}

/*buttons*/
button, #lien {
	box-shadow: 0px 10px 14px -18px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #0344a4 100%);
	background-color:#599bb3;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 20px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  margin: 5px;
}
button:hover {
	background:linear-gradient(to bottom, #0344a4 5%, #599bb3 100%);
	background-color:#0344a4;
}
button:active {
	position:relative;
	top:1px;
}

p{
  font-family: 'Gloria Hallelujah', cursive;
}

#footer{
  position: fixed;
  bottom: 0;
}

#recap{
  margin-top: 5em;
}

.nav-link{
  margin-right: 2em;
}

footer{
  padding-top: 1em;
}

/*orinoco logo*/
.logo{
  width: 50%;
}

/*orinoco logo footer*/
.logof{
  width: 30%;
}

/*contact*/
.mail{
  color: white;
}